%header#header
  %nav.navbar.navbar-default.navbar-static-top{:role => "banner"}
    .container
      .navbar-collapse.collapse
        .menu
          %ul.nav.nav-tabs{:role => "tablist"}
            %li{:role => "presentation"}
            %a= link_to 'Log-out', destroy_user_session_path

= form_for(@ticket) do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2
        = pluralize(@ticket.errors.count, "error")
        prohibited this ticket from being saved:
      %ul
        - @ticket.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :status
    %br/
    = f.select :status_id, options_for_select(Status.all.collect {|s| [s.status, s.id] }), |
      :include_blank => false
  .field
    = f.label :user
    %br/
    = f.select :user, options_for_select(User.all.collect {|u| [u.email] }), |
      :include_blank => false
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :problem
    %br/
    = f.text_area :problem
  .actions
    = f.submit