%p#notice= notice
%p
  %strong Status:
  = @ticket.status_id
%p
  %strong User:
  = @ticket.user_id
%p
  %strong Client:
  = @ticket.email
%p
  %strong Problem:
  = @ticket.problem
%p
  %strong Title:
  = @ticket.status
%p
  %strong Text:
  = @ticket.problem
%h2 Comments
- @ticket.comments.each do |comment|
  %p
    %strong Commenter:
    = comment.commenter
  %p
    %strong Comment:
    = comment.body
%h2 Add a comment:
= form_for([@ticket, @ticket.comments.build]) do |f|
  %p
    = f.label :commenter
    %br/
    = f.text_field :commenter
  %p
    = f.label :body
    %br/
    = f.text_area :body
  %p
    = f.submit
= link_to 'Edit', edit_ticket_path(@ticket)
|
\#{link_to 'Back', tickets_path}